.video_recommendation {
    width: 90vw;
    margin: auto;
    padding: 20px 0;
}

.video_flex {
    display: flex;
    gap: 10px;
}

@media (max-width:1350px) {
    .video_recommendation {
        width: 95vw;
        margin: auto;
        padding: 20px 0;
    }
}

@media (max-width:1255px) {
    .video_recommendation {
        width: 98vw;
        margin: auto;
        padding: 20px 0;
    }
}

@media (max-width:1200px) {
    .video_recommendation {
        width: 99vw;
        margin: auto;
        padding: 20px 0;
    }

    .recommended_video {
        flex: 1;
        margin-top: 10px;
    }
}

@media (max-width:1060px) {
    .video_flex {
        display: grid;
        gap: 10px;
    }
}

@media (max-width:990px) {
    .video_flex {
        display: grid;
        gap: 5px;
    }

    .recommended_videos {
        width: 100% !important;
    }

    .video_title p {
        font-size: 18px !important;
        font-weight: 600;
    }

    .video_channel p {
        font-size: 15px !important;
    }

    .video_views {
        display: flex;
        gap: 5px;
        font-size: 14px !important;
    }
}

@media (max-width:500px) {
    .video_flex {
        display: grid;
        gap: 5px;
    }

    .recommended_videos {
        width: 100% !important;
    }

    .video_title p {
        font-size: 16px !important;
        font-weight: 600;
    }

    .video_channel p {
        font-size: 14px !important;
    }

    .video_views {
        display: flex;
        gap: 5px;
        font-size: 12px !important;
    }
}

@media (max-width:400px) {
    .video_flex {
        display: grid;
        gap: 5px;
    }

    .recommended_videos {
        width: 100% !important;
    }

    .video_title p {
        font-size: 13px !important;
        font-weight: 700;
    }

    .video_channel p {
        font-size: 13px !important;
    }

    .video_views {
        display: flex;
        gap: 5px;
        font-size: 12px !important;
    }
}

.video_box {
    margin-top: 10px;
    flex: 2;
}


.actual_video_box video {
    width: 100%;
    box-shadow:
        2px 4px 200px rgba(208, 235, 90, 0.75),
        2px 4px 200px rgba(233, 12, 188, 0.75),
        2px 4px 200px rgba(3, 32, 33, 0.75);
    /* Add more box shadow values as needed */
}

.video_descriptions {
    display: grid;
    gap: 5px;
}

.video_header p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}

.video_profile {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
}

.video_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.video_logo img {
    width: 50px;
    height: 50px;
}

.channel_name p {
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.subscribe_count {
    font-size: 14px;
}

.essential_btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.like_unlike_btn {
    display: flex;
    gap: 10px;
    align-items: center;
}

.like_unlike_btn button {
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    border: 1px solid var(--hover-bg-color);
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    gap: 10px;
}

.like_unlike_btn span {
    font-size: 20px;
}

.like_unlike_btn p {
    font-size: 16px;
}

.subscribe_btn button {
    padding: 10px;
    border: none;
    outline: none;
    height: 38px;
    width: 90px;
    cursor: pointer;
    border: 1px solid var(--hover-bg-color);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--text-color);
}


/* Recommended Video Box */

.recommended_videos:first-child {
    gap: 0px;
}

.recommended_videos {
    width: 30%;
    display: grid;
    gap: 2px;
}

.recommended_video {
    padding: 1px;
    border: 1px solid transparent;
    display: flex;
    gap: 10px;
    cursor: pointer;
    transition: 0.1s all linear;
}

.recommended_video:hover {
    border: 1px solid var(--hover-bg-color);
    transition: 0.1s all linear;
    border-radius: 10px;
}

.recommended_video:active {
    background-color: var(--hover-bg-color);
}

.recommended_video_topic {
    display: flex;
    gap: 10px;
    padding: 10px 2px;
}

.recommended_video_topic button {
    padding: 7px 10px;
    background-color: var(--bg-color);
    outline: none;
    border: 1px solid var(--text-color);
    cursor: pointer;
    border-radius: 5px;
    color: var(--text-color);
}

.recommended_video_image img {
    width: 160px;
    border-radius: 10px;
}

.video_details {
    color: var(--text-color);
}

.video_title p {
    font-size: 15px;
    font-weight: 500;
}

.video_channel p {
    font-size: 12px;
}

.video_views {
    display: flex;
    gap: 5px;
    font-size: 11px;
}